@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

@font-face {
  font-family: SFProDefault;
  src: url(/fonts/SFPRODISPLAYREGULAR.OTF);
}
@font-face {
  font-family: SFProMedium;
  src: url(/fonts/SFPRODISPLAYMEDIUM.OTF);
}

@font-face {
  font-family: SFProBold;
  src: url(/fonts/SFPRODISPLAYBOLD.OTF);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

body {
  font-size: 72.5%;
  font-family: SFProDefault;
  background-color: #292929;
}
