.spinner {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 3px solid #fff;
  border-top-color: transparent;
  animation: spin infinite 1s linear;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
